body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
  /* top: 0; */
}
