body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  overscroll-behavior: none;
}

canvas {
  display: block;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  /* background-color: green; */
  background:radial-gradient(circle farthest-corner at center top, #000000, #021424);
  z-index: -1;
}

.hidden {
  height: 0px; 
  z-index: -100;
}

.done{
  display: none;
}

main {
  color: white;
  /* background: gray; */
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.landing {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  /* visibility: hidden; */
  transition: opacity 1s;
  opacity: 0;
}

#welcome {
  font-size: 3em;
}

#querry {
  font-family: 'Dancing Script', cursive;
  width: min(35ch, 90vw);
  text-align: center;
}

#questionarea {
  font-family: 'Raleway';
  resize: none;
  width: calc(100% - 35px); 
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  caret-color: white;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-family: 'Raleway';
  font-size: .65em;
  overflow-y: hidden;
}

textarea::-webkit-input-placeholder {
  color: rgb(148, 148, 148);
  /* color: rgb(224, 216, 97); */
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: rgb(148, 148, 148);
  /* color: rgb(224, 216, 97); */
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: rgb(148, 148, 148);
  /* color: rgb(224, 216, 97); */
}

textarea:-ms-input-placeholder {
  color: rgb(148, 148, 148);
  /* color: rgb(224, 216, 97); */
}  

p {
  margin-top: .25em;
  margin-bottom: .25em;
  text-align: center;
}

.questionholder {
  font-family: 'Raleway';
  font-size: .6em;
  padding: 0; 
}

#answerholder {
  text-align: center;
  font-size: larger;
  text-shadow: .5px .5px #88bbe7;
  width: 800px;
  max-width: 75vw;
}

button {
  margin: 0;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Raleway';
  font-size: large;
}

button:focus {
  outline: none;
  border: none;
}

#enter {
  width: 20px;
  padding-top: 4px;
  padding-bottom: 2px;
}

.descText {
  font-family: 'Raleway';
  font-size: .5em;
}

.descButton {
  font-size: .5em;
  color: #bee1ff;
  padding-left: 0;
  padding-right: 0;
}

.descButton:hover {
  color: #88bbe7;
  /* font-size: 1em; */
  text-decoration: underline;
  opacity: 1;
}

.moreinfo {
  margin-top: 2em;
  text-align: center;
}


#firstPage {
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  min-height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

#secondPage{
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  min-height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

#thirdPage{
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  min-height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

#scrollable {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#scrollable::-webkit-scrollbar {
  display: none;
}

#info {
  font-family: 'Raleway';
  font-size: 1em;
  position: absolute;
  padding: 30px;
  bottom: 0px;
  cursor: pointer;
}

#info:hover {
  color: #bee1ff
}

/* SECOND PAGE  */

#upArrow {
  font-family: 'Dancing Script', cursive;
  font-size: large;
  position: absolute;
  top: 0px;
  padding: 30px 50px 30px 50px;
  cursor: pointer;
}

#upArrow:hover {
  color: #bee1ff;
}

.descPage {
  font-family: 'Raleway';
}

.descPage p {
  width: 700px;
  max-width: 75vw;
}

a {
  text-decoration: none;
  color: #bee1ff;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  transition-duration: 300ms;
}

a:hover {
  color: #88bbe7;
  text-decoration-thickness: thin;
}

img {
  width: min(60vw, 500px);
  padding: 1em;
  mix-blend-mode: screen;
  will-change: opacity;
}