body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  overscroll-behavior: none;
}

canvas {
  display: block;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background:radial-gradient(circle farthest-corner at center top, #060f1f, #16324d);
  z-index: -1;
}

.hidden {
  height: 0px; 
  z-index: -100;
}

.done{
  display: none;
}

main {
  color: white;
  /* background: gray; */
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.landing {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  /* visibility: hidden; */
  transition: opacity 1s;
  opacity: 0;
}

#welcome {
  font-size: 3em;
}

#querry {
  font-family: 'Dancing Script', cursive;
  width: min(35ch, 90vw);
  text-align: center;
}

#questionarea {
  font-family: 'Raleway';
  resize: none;
  width: calc(100% - 35px); 
  background-color: transparent;
  color: white;
  caret-color: white;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  /* line-height: 1em; */
  font-family: 'Raleway';
  font-size: .65em;
  overflow-y: hidden;
  /* TODO AUTO RESIZE when text is over one line long*/
}

p {
  margin-top: .25em;
  margin-bottom: .25em;
  text-align: center;
}

#answerholder {
  text-align: center;
}

button {
  margin: 0;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
}

#enter {
  font-family: 'Raleway';
  width: 20px;
  padding-top: 4px;
  padding-bottom: 0px;
  /* TODO */
  /* STYLE + ADD FAVICON INSTEAD OF TEXT */
}

#askagain {
  font-family: 'Dancing Script', cursive;
  text-decoration: underline;
  font-size: 1em;
  /* -webkit-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  -moz-transition-duration: 700ms;
  transition-duration: 700ms; */
}

#askagain:hover {
  color: gray;
  opacity: 1;
}

.moreinfo {
  padding-top: 1em;
  text-align: center;
}


#firstPage {
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  min-height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

#secondPage{
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  min-height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

#scrollable {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#scrollable::-webkit-scrollbar {
  display: none;
}

#info {
  font-family: 'Dancing Script', cursive;
  position: absolute;
  bottom: 50px;
}
