body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background:radial-gradient(circle farthest-corner at center top, #071021, #19324a);
  z-index: -1;
}

.hidden {
    display: none; 
}

main {
    color: white;
    background: gray;
}

#welcome {

}

#querry {

}